mat-card {
  margin: 20px;
}

.low-grade {
  color: red;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

//.info {
//  flex: 2;
//}
//
//.kpi {
//  flex: 3;
//}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
    gap: 10px
  }

  .info, .kpi {
    flex: none;
  }


}

