<section class="container">
    <mat-card class="mat-elevation-z24">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon>study</mat-icon>
            </div>
            <mat-card-title>
                <h1>{{course.title}}</h1>
            </mat-card-title>
            <mat-card-subtitle><h4>{{course.subject}}</h4></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="flex-container">
            <div class="info">
                <table>
                    <tr>
                        <td>Professor</td>
                        <td>{{course.teacher}}</td>
                    </tr>
                    <tr>
                        <td>Duração</td>
                        <td>{{ course.durationInHours }} horas</td>
                    </tr>
                    <tr>
                        <td><strong>Assuntos Abordados:</strong></td>
                        <td>
                            <ul>
                                <li *ngFor="let topic of course.topicsCovered">{{ topic }}</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="button-container">
                <a href="https://www.youtube.com/watch?v=fkAY_Xm9htI">
                    <button mat-flat-button color="primary">
                        Assistir aulas
                    </button>
                </a>
                <button mat-flat-button color="accent"
                        [routerLink]="'../certificate/' + course.id"
                        *ngIf="progress === 100">Obter Certificado</button>
                <button mat-flat-button
                        color="accent"
                        disabled
                        [matTooltip]="'Você precisa assistir mais aulas antes de realizar o teste.'"
                        *ngIf="progress !== 100"
                >Realizar Teste
                </button>
            </div>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</section>
