mat-toolbar {
  display: flex;
  justify-content: center;
}

.toolbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centered-span {
  margin: 0 auto;
}

.header-gap {
  height: 5px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-gap {
  height: 64px; /* Adjust the height based on your header's height */
}

main {
  margin-top: 64px; /* Adjust the margin-top value to match your header's height */
}
